<nav class="bg-white">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
            <div class="flex">
            <div class="flex flex-shrink-0 items-center pr-4">
                <img class="block h-8 w-auto lg:hidden rounded" src="/images/logo-letter.png" alt="Techy Blog">
                <img class="hidden h-8 w-auto lg:block" src="/images/logo-phrase-removebg-preview.png" alt="Techy Blog">
            </div>
            <div class="flex items-center sm:ml-6 space-x-4 sm:space-x-8">
                <a href="/" class="inline-flex items-center border-b-2 border-transparent hover:border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Home</a>
                <a href="/dashboard" class="inline-flex items-center border-b-2 border-transparent hover:border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Dashboard</a>
            </div>
            </div>
            <div class="flex items-center sm:ml-6 sm:flex sm:items-center space-x-4 sm:space-x-8">
                <a href="/login" class="inline-flex items-center border-b-2 border-transparent hover:border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Login</a>
                <a href="/signup" class="inline-flex items-center border-b-2 border-transparent hover:border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Sign-Up</a>
            </div>
        </div>
    </div>
</nav>